.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 2px solid lightskyblue;
    margin-right: 20px;
    position: relative;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(135,206,250, 0.5);
  }
  .container_type_add{
    opacity: 0.5;
    cursor: pointer;
    justify-content: center;
    transition: opacity .2s ease;
  }
  .container_type_add:hover{
    opacity: 1;
  }
  .task_type_add{
    opacity: 0.5;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
  }
  .task_type_add:hover{
    opacity: 1;
  }
  .con__title {
    margin: 0;
    text-decoration: underline;
    font-size: 30px;
    font-weight: bold;
    color:lightskyblue;
  }
  .icons-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    
  }
  .add-container-btn {
   
    cursor: pointer;
    border-radius: 20px;
    fill:lightskyblue
  }
  .add-container-btn:hover{
    transform: scale(1.2);
  }
  .drag-btn {
    opacity: 1;
    transition: opacity .3s;
  }
  .drag-btn:hover{
    opacity: 0.5;
  }
  .delete-icon {
    opacity: 1;
    transition: opacity .3s;
  }
  .delete-icon:hover{
    opacity: 0.5;
  }