.task-text {
  min-width: 165px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.task {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}
.task-icons-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 28%;
  justify-content: space-between;
}
.task_type_add {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
}
.task_type_add:hover {
  opacity: 1;
}
.add-task-btn {
  transform: scale(1);
  transition: transform 0.3s ease-in;
}
.task_type_add:hover .add-task-btn {
  transform: scale(1.2);
}
