@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 
  margin: 0;
  box-sizing: border-box;
}
.form {
  margin-top: 10px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-button {
}
.drag-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: grab;
}
.App {
  
  padding: 10px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(#141e30, #243b55); */
  background-size: cover;
  overflow: auto;
}

.container-wrapper {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.form-wrapper {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tasks-wrapper {
  
  width: 90%;
  padding: 10px;
}

